@charset "utf-8";

html {
    background-color: palevioletred;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    color:darkviolet;
    text-decoration: none;
}

li a {
    display: block;
    text-align: center;
    padding: 8px;
}

li a:hover {
    color:aquamarine;
}

img {
    float: left;
    align-items: center;
    text-decoration: none;
    width: 350px;
    height: 250px;
}