@charset "utf-8";

html {
    background-color: darkslateblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aquamarine;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    color:pink;
    text-decoration: none;
}

li a {
    display: block;
    text-align: center;
    padding: 8px;
}

li a:hover {
    color:aquamarine;
}

form {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 3px solid darkcyan;
}