/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/

@media only screen and (min-width: 641px) {
    html {
        background-image: url(wp10928335-geometric-figures-wallpapers.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        color: bisque;
    }

    body {
        text-align: center;
    }

    div {
        margin: 0 auto;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    nav.navbar {
        padding: 8px 16px;
        list-style: none;
        background-color: rgba(255, 140, 0, 0.626);
    }
    
    nav.navbar li {display: inline;}
    
    nav.navbar li+li:before {
        padding: 8px;
        color:aquamarine;
        content: "/\00a0";
    }
    
    nav.navbar li a {color:blueviolet;}
    nav.navbar li a:hover{color:aqua;}

/*=========================
    Logo stylings
===========================*/

    li > a > img#logo {
        size: 20px;
    }

/*==================
    link stylings
====================*/
a:link, a:visited {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 0.5px blue;
}

a:hover, a:focus {
    text-decoration: none;
	color: aqua;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}

a:active {
    text-shadow: 1px 1px 1px #555;
    position: relative;
    top: 1px;
    left: 1px;
}
}
/*==============================
    Mobile stylings: 0px to 640px
===============================*/

@media only screen  and (max-width: 640px) {
    nav ul li {
        display: flex;
        flex-flow:column nowrap;
        justify-content: center;
    }
}