/* styling for the entire htnml document */
html {
   color: wheat;
   
}

/* body styling */
body {
    background-image: url("vector-design-retro-4k_1555208088.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
}

header img {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    position: left;

}

